body{
	padding: 1.75rem;
}

/*HEADER*/

/* Larger than tablet */
@media (min-width: 750px) {
	.narrow{
		margin: 0 7% 0 7%;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	.narrow{
		margin: 0 17.3333333333% 0 17.3333333333%;
	}	
}

/*Site title*/
.site-title{
	text-align: center;
	margin-top: 4%;
}

@media (min-width: 550px) {
	.site-title { 
		margin: 0;
		text-align: left; 
	}
}

/*Site Logo*/
.site-logo{
	text-decoration: None;
	font-size: 2.4rem; line-height: 1.5;  letter-spacing: -.05rem;
}

.site-logo:hover{
	color: black;
}

@media (min-width: 550px) {
	.site-logo { font-size: 2.4rem; }
}


/*Navigation*/
nav a{
	text-decoration: none;
	color: rgba(61,70,77,0.6);
}

nav a:hover{
	color: #3d464d;
}	

nav a:not(:first-child){
	padding-left: 7%;
}

nav{
	text-align: center;
}

@media (min-width: 550px) {
	nav{
		float: right;
		width: 90%;
		display: inline-block;
		text-align: right;
	}
}

/*MAIN*/
.main-title{
	font-weight: 400;
	font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem;
}

@media (min-width: 550px) {
  .main-title { font-size: 2.4rem; }
}

/*FOOTER*/
.footer-decoration{
	padding-top: 2%;
	border-top: 1px solid rgba(61,70,77,0.1);
}

/* Typography */

.weight-thin{
	font-weight: 300;
}

.light-grey{
	color: rgba(61,70,77,0.6);
}

/*Utlities*/

.text-center{
	text-align: center;
}



.cl-effect-5 a {
	position: relative;
	display: inline-block;
	outline: none;
}

.cl-effect-5 a:hover,
.cl-effect-5 a:focus {
	outline: none;
}


/* Effect 5: same word slide in */
.cl-effect-5 a {
	overflow: hidden;
	width: 100%;
}

.cl-effect-5 a span {
	text-decoration: underline;
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cl-effect-5 a span::before {
	text-decoration: underline;
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	right: -100%;
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}
