nav{
	float: right;
}

nav a{
	text-decoration: none;
	color: rgba(61,70,77,0.6);
}
nav a:hover{
	color: #3d464d;
}	

nav a:not(:first-child){
	padding-left: 3%;
}

footer{
	color: #3d464d;
}

footer a{
}

.footer-decoration{
	padding-top: 2%;
	padding-bottom: 2%;
	border-top: 1px solid rgba(61,70,77,0.1);
}

/*Utlities*/

.text-center{
	text-align: center;
}

.pull-right{
	float: right;
}
