@font-face {
	font-family: 'NeueHaasGroteskText Pro';
	src: url('../fonts/NHaasGroteskTXPro-75Bd.eot');
	src: url('../fonts/NHaasGroteskTXPro-75Bd.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NHaasGroteskTXPro-75Bd.woff') format('woff'),
		url('../fonts/NHaasGroteskTXPro-75Bd.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'NeueHaasGroteskText Pro';
	src: url('../fonts/NHaasGroteskTXPro-56It.eot');
	src: url('../fonts/NHaasGroteskTXPro-56It.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NHaasGroteskTXPro-56It.woff') format('woff'),
		url('../fonts/NHaasGroteskTXPro-56It.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'NeueHaasGroteskText Pro Md';
	src: url('../fonts/NHaasGroteskTXPro-65Md.eot');
	src: url('../fonts/NHaasGroteskTXPro-65Md.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NHaasGroteskTXPro-65Md.woff') format('woff'),
		url('../fonts/NHaasGroteskTXPro-65Md.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'NeueHaasGroteskText Pro';
	src: url('../fonts/NHaasGroteskTXPro-76BdIt.eot');
	src: url('../fonts/NHaasGroteskTXPro-76BdIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NHaasGroteskTXPro-76BdIt.woff') format('woff'),
		url('../fonts/NHaasGroteskTXPro-76BdIt.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'NeueHaasGroteskText Pro Md';
	src: url('../fonts/NHaasGroteskTXPro-66MdIt.eot');
	src: url('../fonts/NHaasGroteskTXPro-66MdIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NHaasGroteskTXPro-66MdIt.woff') format('woff'),
		url('../fonts/NHaasGroteskTXPro-66MdIt.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'NeueHaasGroteskText Pro';
	src: url('../fonts/NHaasGroteskTXPro-55Rg.eot');
	src: url('../fonts/NHaasGroteskTXPro-55Rg.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NHaasGroteskTXPro-55Rg.woff') format('woff'),
		url('../fonts/NHaasGroteskTXPro-55Rg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}