.grain {
  filter: brightness(105%) sepia(20%);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  // z-index: 10;

  &:before {
    content: "";
    position: fixed;
    top: -5rem;
    left: -5rem;
    width: calc(100% + 10rem);
    height: calc(100% + 10rem);
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
    opacity: 0.08;
    pointer-events: none;
    animation: noise 4s steps(4) infinite;
  }
}

@keyframes noise {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(-1%, -1%, 0);
  }
  50% {
    transform: translate3d(1%, 1%, 0);
  }
  75% {
    transform: translate3d(-1%, 1%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
