body {
  border: 3px solid black;
  // border-bottom: 4px solid black;
  // border-left: 2px solid black;
  // border-right: 2px solid black;
}
header {
  padding-top: 6%;
}

@media (min-width: 550px) {
  nav {
    font-size: 1.25rem;
  }
}

nav {
  font-weight: 400;
  a {
    margin-right: 0.5rem;
  }
}
