:root {
  --main-color: rgb(36, 36, 36);
  --gray-color: #9d9d9d;
  --content-width: 540px;
}

a {
  transition: 0.24s;
  transition-property: -webkit-text-decoration-color,
    -webkit-text-decoration-style;
  transition-property: text-decoration-color, text-decoration-style;
  transition-property: text-decoration-color, text-decoration-style,
    -webkit-text-decoration-color, -webkit-text-decoration-style;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  text-decoration-thickness: 1px;
  text-underline-offset: 2.5px;
  color: var(--main-color);

  &:hover {
    text-decoration-color: #6f6f6f;
    text-decoration-style: solid;
  }
}
h1 {
  font-size: 16px;
  padding-bottom: 28px;
  margin: 0;
  font-weight: 400;
}

body {
  margin: 8px;
  color: var(--main-color);
  line-height: 28px;
  font-size: 16px;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: var(--content-width);
  padding: 120px 8px 24px;
  margin: 0 auto;
  animation: blurFadeIn 0.75s ease-in-out;
}

main {
}

@keyframes blurFadeIn {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
p {
  margin: 0;
  padding-bottom: 16px;
}

footer {
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
  display: flex;
  gap: 8px;
  padding-top: 60px;
}
