:root {
  --main-color: rgb(41, 41, 41);
  --content-width: 666px;
}


h1 {
  font-size: 46px;
  line-height: 1.2;
  font-weight: 800;
  margin-top: 32px;
  margin-bottom: 38px;
}

body {
  color: var(--main-color);
  line-height: 1.6;
  font-size: 21px;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
}

main {
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 36px 16px 21px;
}


p {
  margin: 0 0 24px;
}

a {
  color: var(--main-color);
  font-weight: 400;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1.8px;

  &:hover {
    text-decoration: none;
  }
}

footer {
  border-top: 1px solid var(--main-color);
  padding: 19px 16px 32px;
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;

  a {
    margin-right: 1rem;
  }
}
