body{
	padding: 1.75rem;
}

/*HEADER*/

/* Larger than tablet */
@media (min-width: 750px) {
	.narrow{
		margin: 0 6% 0 6%;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	.narrow{
		margin: 0 17.3333333333% 0 17.3333333333%;
	}	
}

/*Site Logo*/
header {
	position: absolute;
	width: 40em;
	top: 8em;
	right: -4.95em;
}

footer {
	height: 100%;
	.connect_icons {
		display: flex;
		list-style: none;
		position: absolute;
	    bottom:0;
    	right:0;
    	top: 37em;

    	li {
    		margin-right: 1em;
    	}
	}
}

.site-logo{
	text-decoration: None;
	font-weight: 600;
	font-size: 4rem;
	letter-spacing:-.05rem;
	color: #212121;
	text-align: left;
}

.site-logo:hover{
	color: black;
}


/* Larger than tablet */
@media (min-width: 550px) {
	.site-logo{
		font-size: 5rem;
	}
}


/*Navigation*/
nav a{
	font-size: 1.7rem;
	text-decoration: none;
	color: rgba(61,70,77,0.6);
}

nav a:hover{
	// color: #3d464d;
	color: #0064DC;
}	

nav a:not(:first-child){
	padding-left: 7%;
}

nav{
	text-align: center;
}


/*MAIN*/
main{
	font-family: 'Circular Book';
}


/*FOOTER*/
.footer-decoration{
	padding-top: 3%;
	border-top: 1px solid rgba(61,70,77,0.1);
}