.text-center{
	text-align: center;
}

/* Typography */

.weight-thin{
	font-weight: 300;
}

.light-grey{
	color: rgba(61,70,77,0.6);
}

.underline {
	padding: 0 0 0.2em 0;
	border-bottom: 5px solid #212121;
}