body{
	padding: 1.75rem;
}

/*HEADER*/

/* Larger than tablet */
@media (min-width: 750px) {
	.narrow{
		margin: 0 6% 0 6%;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	.narrow{
		margin: 0 17.3333333333% 0 17.3333333333%;
	}	
}

/*Site Logo*/
.site-logo{
	text-decoration: None;
	font-weight: 600;
	font-size: 4rem;
	color: black; 
}

.site-logo:hover{
	color: black;
}


/* Larger than tablet */
@media (min-width: 550px) {
	.site-logo{
		font-size: 4.4rem;
	}
}


/*Navigation*/
nav a{
	text-decoration: none;
	color: rgba(61,70,77,0.6);
}

nav a:hover{
	color: #3d464d;
}	

nav a:not(:first-child){
	padding-left: 7%;
}

nav{
	text-align: center;
}


/*MAIN*/
main{
	font-family: 'Circular Book';
}


/*FOOTER*/
.footer-decoration{
	padding-top: 2%;
	border-top: 1px solid rgba(61,70,77,0.1);
}

/* Typography */

.weight-thin{
	font-weight: 300;
}

.light-grey{
	color: rgba(61,70,77,0.6);
}

/*Utlities*/

.text-center{
	text-align: center;
}


/*Slide in effect*/

.cl-effect-5 a {
	position: relative;
	display: inline-block;
	outline: none;
}

.cl-effect-5 a:hover,
.cl-effect-5 a:focus {
	outline: none;
}


/* Effect 5: same word slide in */
.cl-effect-5 a {
	overflow: hidden;
	width: 100%;
}

.cl-effect-5 a span {
	text-decoration: underline;
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cl-effect-5 a span::before {
	text-decoration: underline;
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	right: -100%;
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}


.contact-slide-active{
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

/*Scroll Bar*/

::-webkit-scrollbar {
    width: 7px;
}
 
::-webkit-scrollbar-track {
	background-color: #EDEDED;
    /*border-radius: 10px;*/
}
 
::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    background-color: #D7D7D7;
}
